.strip.active {
	background-color: lightgreen;
}

.strip.suspended {
	background-color: red;
}

#equipmentcontent {
	list-style: none;
}

.equipment-list {
	margin-right: 10px;
	margin-left: 10px;
	width: 250px;
}